### Basic Questions on Python
***

**Question 1. Write an program for square of number from 1 to than number using for loop. take input from user in 'num' and save the output in dictionary names as 'dict1'**

In [3]:
num = int(input())
dict1 = dict()
for i in range(1,num+1):
    dict1[i]=i*i

print("The dict1 is : ", dict1)

5
The dict1 is :  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**Question 2. Python program to find the multiplication table of 10 Using for loop**

In [5]:
num = 10

# num = int(input("Display multiplication table of? "))

# using for loop to iterate 10 times
for i in range(1, 11):
    print(num,'x',i,'=',num*i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

**Question 3. Python program to find sum of elements in list using for loop**

In [7]:
total = 0

items = [45,890,4532,65,43,56,234,874,529,120,789]

for i in range(0,len(items)):
    total = total + items[i]

print("Sum of all elements in given list : ", total)

Sum of all elements in given list :  8177

**Question 4. Create a tuple with some elements and print no. of elements in tuple and create a sentence using elements in tuple and some strings**
**Hint: Apply Tuple Unpacking**

In [9]:
student = ('Sarthak', 20, 'Mumbai', 'DSE FT BLR June 20')

print("tup_count :", len(student))

s_name, s_age, s_city, s_course = student

print('Student name ', s_name, 'his age is ', s_age, 'and he is from ', s_city, 'doing course of', s_course)

tup_count : 4
Student name  Sarthak his age is  20 and he is from  Mumbai doing course of DSE FT BLR June 20

**Question 5**

In [ ]:
#a) creating dictionary as colors
colors = {
    'col1' : 'Red',
    'col2' : 'Blue',
    'col3' : 'Yellow'
}

In [ ]:
#b) Add another key col4 into the colors Dictionary having value as Green
colors['col4'] = 'Green'

In [ ]:
print(colors)

In [ ]:
#c) Update the col2 values as Orange
colors.update({'col2':'Orange'})
print(colors)

In [ ]:
#d) Print the dictionary on the screen
print('Dictionary is :', colors)

In [ ]:
#e) Remove all the elements from the Dictionary colors and print its content on the screen.
colors = {
    'col1' : 'Red',
    'col2' : 'Blue',
    'col3' : 'Yellow'
}

colors.clear()

print(colors)

**Question 6. Using range() function, make a list containing all the prime numbers between 1 to 100**

In [10]:
for Numbers in range (1, 101):
    count = 0
    for i in range(2, (Numbers//2 + 1)):
        if(Numbers % i == 0):
            count = count + 1
            break

    if (count == 0 and Numbers != 1):
        print(" %d" %Numbers, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

**Question 7.  Write a function called ftn_count_upper_lower that accepts string, calculate the number of uppercase and lowercase letters.**

In [ ]:
def ftn_count_upper_lower(x):
    count={"UPPER_CASE":0, "LOWER_CASE":0}
    for a in x:
        if a.isupper():
            count["UPPER_CASE"]+=1
        elif a.islower():
            count["LOWER_CASE"]+=1
        else :
            pass
    print ("Original String : ", x)
    print ("No. of Uppercase characters : ", count["UPPER_CASE"])
    print ("No. of Lowercase Characters : ", count["LOWER_CASE"])

ftn_count_upper_lower('The black Bread For')

**Question 8. Write to get finbonacci term of n. With initial numbers as 0 and 1.**

In [11]:
def fibonacci(n): 
    a = 0
    b = 1
    if n < 0: 
        print("Incorrect input") 
    elif n == 0: 
        return a 
    elif n == 1: 
        return b 
    else: 
        for i in range(2,n): 
            c = a + b 
            a = b 
            b = c 
        return b 
        print(fibonacci())

In [12]:
fibonacci(6)

5

**Question 9. If string has word having length greater than 4, then capitalize it and save it in a different list. If not, then lower the case od word and save it in different list.**

In [22]:
s = "Once upon a time there was a king. His name was Arthur. He was a great king."

s = s.replace('.','')
s_1 = s.split()

gre_4 = []
les_4 = []

for x in s_1:
    if (len(x) > 4):
        gre_4.append(x.upper())
    else:
        les_4.append(x.lower())
    
    
print(gre_4)
print(les_4)

['THERE', 'ARTHUR', 'GREAT']
['once', 'upon', 'a', 'time', 'was', 'a', 'king', 'his', 'name', 'was', 'he', 'was', 'a', 'king']

## Thank You! Happy Learning!